body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}
h1 {
    font-size: 60px;
} 
.prev{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgb(170, 169, 169);
    width: 500px;
    height: 600px;
}
img {
    border: 3px solid rgb(16, 52, 94);
    padding: 5px;
}
button{
    width: 150px;
    height: 40px;
    background-color: rgb(7, 7, 103);
    color: white;
    border: none;
    margin: 20px;
    font-size: 20px;
}